<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. по адресу:
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=192.168.31.235;User Id=site_db;Password=JGJS89ydhnflsar312h89HLFDF2;Port=5432;Database=site_db;"/>
	</connectionStrings>
	
	
	<appSettings>
		<add key="jwt-secret" value="fsgm240yfAShajkLHFSfh13rqhrjksf1" />
	</appSettings>
</configuration>
